//COLORS
$color-gray-light: #bebebe;
$color-gray-dark: #777;

$color-orangered: orangered;

$color-purple-light: #bd07faef;

$color-white: #fff;
$color-black: #000;

$color-text-black: #000;

//FONT
$default-font-size: 1.6rem;
