//COLORS
$color-gray-light: #bebebe;
$color-gray-dark: #777;

$color-orangered: orangered;

$color-purple-light: #5f51fc;

$color-white: #fff;
$color-black: #000;

// text color
$color-text-black: #000;
$color-text-gray: #706f7b;
$color-text-purple: #5f51fc;
$titles-font: "Rubik", sans-serif;

//FONT
$default-font-size: 1.6rem;

$text-font: "Lato", sans-serif;
$titles-font: "Rubik", sans-serif;

$h1-size: 5.2rem;
$h2-size: 4.2rem;
$h3-size: 2.4rem;
$h4-size: 2.2rem;
$p-size: 1.6rem;
$input-size: 1.4rem;

//background colors
$bg-gray: #f8f8f8;
$bg-white: #ffffff;
