@import "../abstracts/variables";

/* basic reset.. to make a cross browser reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* now we are forcing inheritance */
  box-sizing: inherit;
}

html {
  // #this defines what 1rem is;
  font-size: 62.5%;
}

body {
  /* to force inheritance */
  box-sizing: border-box;
  background-color: #fff;

  //   font-family: "Lato", sans-serif;
  //   font-weight: 400;
  //   color: $color-black;
}

.container {
  max-width: 133rem !important;
  margin: 0 auto !important;
  padding: 0 !important;
  padding: 0 2.5rem !important;
  // border: 3px solid red;
}
