@import "../../sassStyles/abstracts/variables";

.logo-row-section {
  background-color: $bg-white;
  padding: 1rem 0;
  width: 100%;
  // border: 1px solid red;

  // background-color: #2d2d2d;
  // margin: 8rem 0;
  padding: 6rem 0;
  text-align: center;
  // position: relative;

  .logo-rows {
    width: 100% ;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    justify-content: space-between;

    div {
      // padding: 1rem;
      display: flex;
      align-items: center;
   
      width: 9rem;
      height: 9rem;
      //   border: 3px solid red;
      .logo-icon {
        width: 100%;
        height: 100%;
        color: $color-gray-dark;
        opacity: 0.4;
      }

      //     img{
      //     width: 100px;
      //     height: 100px;
      //     object-fit: contain;
      // }
    }
  }
}
