@import "../../sassStyles/abstracts/variables";

.plan-section {
  background-color: $bg-white;
  padding: 5.3rem 0;
  //   position: relative;
}

.plan-container {
  display: flex;
  flex-direction: column;
  //   border: 1px solid red;

  &__title {
    margin: 0 auto;
    text-align: center;
    color: $color-text-black;

    h3 {
      font-size: $h3-size;
      font-family: $text-font;
      font-weight: 600;
    }

    h2 {
      font-size: $h2-size;
      font-family: $titles-font;
      margin: 1.3rem 0 3rem 0;
    }
  }

  &__boxes {
    // border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 3.7rem;
    padding: 0 3rem;
    align-items: center;
    justify-content: center;

    &__box {
      text-align: center;
      padding: 1rem 6rem;
      margin: auto auto;
    //   border: 1px solid red;

      div {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
           max-width: 200rem; //44rem

          width: 20rem;
        //   height: 100%;
          // height:100%; //auto;
          object-fit: contain;
        //   border: 1px solid red;
        }
      }

      h3 {
        font-size: $h3-size;
        margin-bottom: 1rem;
      }

      p {
        font-size: $p-size;
        font-family: $text-font;
        color: $color-text-gray;
        line-height: 1.43;
      }
    }
  }
}
