*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* now we are forcing inheritance */
  box-sizing: inherit;
}

html {
  /* #this defines what 1rem is; */
  font-size: 62.5%;
}

body {
  /* to force inheritance */
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  overflow:hidden;

  /*  font-weight: 400;
    color: $color-black; */
}
